<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title (click)="logout()">
      Logout
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-item>
    <ion-label>Mês</ion-label>
    <ion-datetime displayFormat="MM/YYYY" pickerFormat="MMMM YYYY" [(ngModel)]="date" (ngModelChange)="atualizaContas()"></ion-datetime>
  </ion-item>

  <dash-card
    valor = {{conta.receber.valor}}
    tipo = "receber"
    num = {{conta.receber.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.pagar.valor}}
    tipo = "pagar"
    num = {{conta.pagar.num}}
  ></dash-card>

  <dash-card
    valor = {{conta.saldo.valor}}
    tipo = "saldo"
    num = {{conta.pagar.num}}
  ></dash-card>
  
  <div id="btnMenu">
    <ion-button [routerLink]="['/contas/pagar']" expand="block">Contas a Pagar</ion-button>
    <ion-button [routerLink]="['/contas/receber']" expand="block">Contas a Receber</ion-button>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>
      <div>
        Icons made by 
        <a href="https://www.freepik.com" title="Freepik">
          Freepik
        </a>
         from 
        <a href="https://www.flaticon.com/" title="Flaticon">
          www.flaticon.com
        </a>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-footer>