<div id="logo-div">
  <ion-text color="medium">
    <p>{{title ? title : ''}}</p>
    <img src="../../../assets/icon/calculate.png" height="150" width="120"/>
    <h3>iFinanças</h3>
  </ion-text>
</div>
