#logo-div {
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  h3, p {
    text-align: center;
  }

  ion-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}